interactions:
- request:
    body: grant_type=refresh_token&refresh_token=REFRESHME
    headers:
      Authorization: [Basic somekindofauth]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.openhumans.org/oauth2/token/
  response:
    body: {string: '{"refresh_token": "new_refresh", "token_type":
        "Bearer", "access_token": "new_access", "scope": "open-humans
        pgp wildlife go-viral write read american-gut", "expires_in": 36000}'}
    headers:
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
