{% extends 'main/application.html' %}

{% block content %}

      <div class="jumbotron">
        <img alt="Brand" src="{% if config.logo_url %}{{config.logo_url}}{% else %}/static/default_logo.png{% endif %}" height="150px" align="left">
        <h1>Welcome to {{ config.project_title|default:"My Open Humans Project" }}</h1>
        <p>
          {{config.project_description|default:"This template demonstrates how you can run your own Open Humans data upload project"}}
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {% load utilities %}
          {{index_page|markdown}}
          {% if config.oh_client_id and config.oh_client_secret and file_num %}
          <a class="btn btn-primary btn-lg"
            href="{{ auth_url }}">
              Consent / Login
          </a>
          {% else %}
          <a class="btn btn-primary btn-lg"
            href="{% url 'project-admin:home' %}">
              Setup your project
          </a>
          {% endif %}
          <div>
            <small>Have more questions?
              <a href="/about">
                Read the full FAQ and About page
              </a>.
            </small>
          </div>
        </div>
      </div>


{%endblock%}
